@font-face {
    font-family: 'AlternateGotNo2D';
    src: url('./color-test/AlternateGotNo2D.woff') format('woff'), url('./color-test/AlternateGotNo2D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./color-test/ProximaNova-Bold.woff') format('woff'), url('./color-test/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ui-selectmenu-open {
    display: block;
    z-index: 999999 !important;
}

body{
    margin: 0;
    background-color: #EFF4F8;
}
header{
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
header #logo{
    padding: 22px;
}
header #logo #logoImg{
    border-right: 3px solid #EFF4F8;
    padding-right: 10px;
}
header #logo span{
    font-family: AlternateGotNo2D;
    font-size: 31px;
    color: #242149;
    letter-spacing: 0;
    padding-left: 10px;
}

div#mainContainer{
    max-width: 1200px;
    margin: 0 auto;
}

div#info{
    width: 50%;
    float: left;
}

div#info #graphic h1{
    font-family: AlternateGotNo2D;
    font-size: 59px;
    color: #242149;
    letter-spacing: 0;
    text-align: right;
    line-height: 59px;
    width: 65%;
    float: right;
}

div#game{
    float: right;
    width: 50%;
}
div.infoBlock#box1{
    background-color: #242149;
    padding: 40px;
    font-family: AlternateGotNo2D;
    margin-bottom: 40px;
}
div.infoBlock#box2{
    background-color: #38A2DC;
    padding: 40px;
    font-family: AlternateGotNo2D;
    margin-bottom: 40px;
}
div.infoBlock#box3, div.infoBlock#box4{
    background-color: #D2E4F0;
    padding: 40px;
    font-family: AlternateGotNo2D;
    margin-bottom: 40px;
}

div.infoBlock#box1 h2{
    font-family: AlternateGotNo2D;
    font-size: 49px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 10px;
}

div.infoBlock p{
    font-family: ProximaNova-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
}

div.infoBlock#box3 p, div.infoBlock#box4 p{
    font-family: ProximaNova-Bold;
    font-size: 14px;
    color: #5F5C7D;
    letter-spacing: 0;
    line-height: 18px;
}

h1 {
    font-size: 35px;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #525252;
    text-transform: uppercase;
}

ul {
    font-size: 17px;
    margin: 0px;
    padding: 0px 5px 0px 5px;
}

ul li {
    color: #4e4f4f;
    font-size: 18px;
    list-style: none;
    float: left;
    margin: 2px;
}



.result-left {
    border-right: 0px dashed #cecbc0;
    float: left;
    margin-bottom: 22px;
    padding-right: 30px;
    padding-top: 15px;
    width: 100%;
}


#goo2 {
    height: 320px;
}

#goo1 {
    height: 60px;
}


#scorebar2 {
    clear: both;
}





#barbar2 {
    background-color: #c5c5c5;
    border-radius: 6px;
    clear: both;
    height: 40px;
    left: 0;
    margin-bottom: 7px;
    width: 100%;
}


#greenbar2 {
    background-color: #9ec117;
    border-radius: 6px;
    height: 40px;
    position: relative;
    width: 0;
}


#bluebar2 {
    background-color: #242149;
    border-radius: 6px;
    height: 40px;
    left: 0;
    margin-top: -40px;
    position: relative;
    width: 0;
}



#barscore2 {
    float: left;
    width: 50%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 16px;
    font-family: 'ProximaNova-Bold';
}

#barerror2 {
    float: right;
    text-align: right;
    width: 50%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'ProximaNova-Bold';
}



#barbest2 {
    font-family: 'ProximaNova-Bold';
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 27px;
    margin-top: -32px;
    padding-top: 2px;
    position: relative;
    text-align: center;
    width: 100%;
}




#scorebar {
    clear: both;
    padding-top: 25px;
    display: none;
}




#barbar {
    background-color: #c5c5c5;
    clear: both;
    height: 20px;
    width: 100%;
    left: 0;
    border-radius: 6px;
    margin-bottom: 7px;
}


#greenbar {
    background-color: #9ec117;
    height: 20px;
    position: relative;
    width: 0%;
    border-radius: 6px;
}


#bluebar {
    background-color: #3d9fe7;
    height: 20px;
    left: 0;
    margin-top: -20px;
    position: relative;
    width: 0%;
    border-radius: 6px;
}



#barscore {
    float: left;
    width: 50%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
    display: none;
}

#barerror {
    float: right;
    text-align: right;
    width: 50%;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}


#barbest {
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    margin-top: -20px;
    padding-top: 1px;
    position: relative;
    text-align: center;
    width: 100%;
}


.menu img {
    height: auto;
    width: 90px;
}


#showmenu img {
    float: left;
    height: auto;
    margin-right: 3px;
    width: 36px;
}

.menu {
    display: none;
    position: absolute;
    top: -3px;
    left: 0;
    width: 54%;
    background-image: url("./img/bg-pattern.gif");
    border-radius: 5px;
}


#showmenu {
    position: absolute;
    top: -38px;
    left: 5px;
    font-size: 22px;
    cursor: pointer;
}

#newsContainerWide {
    background-color: transparent;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#newsContainerWide #newsContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 946px;
    min-width: 220px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
}

#newsContainerWide #newsContainer h1 {
    color: #525252;
    font-size: 22px;
    margin-top: 15px;
    text-align: left;
    text-transform: uppercase;
}

#newsContainerWide #newsContainer h2 {
    color: #525252;
    font-size: 21px;
    margin-top: 15px;
    text-align: left;
    text-transform: uppercase;
}

#newsContainerWide #newsContainer h3 {
    color: #3a8fcd;
    font-size: 40px;
    margin: 15px 0 22px;
    text-align: left;
    text-transform: uppercase;
}

#newsContainerWide #newsContainer p {
    font-weight: normal;
    text-align: left;
    color: #525252;
    font-size: 14px;
}



/* GAME */


#resultdisplay {
    background: none repeat scroll 0 0 #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    left: 50px;
    margin: auto;
    max-width: 940px;
    padding: 10px 3% 8px;
    position: fixed;
    right: 0;
    text-align: left;
    top: 70px;
    width: 94%;
    z-index: 2000;
    float: right;
    width: 500px;
    margin-right: 84px;
    margin-top:60px;
}

#score {
    background: none repeat scroll 0 0 transparent;
    color: #000;
    float: right;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    position: absolute;
    top: 300px;
    text-align: center;
    text-transform: uppercase;
    right: 20px;
    width: 133px;
}

#score div {
    font-family: ProximaNova-Bold;
    font-size: 27px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    border-radius: 50%;
}

#speedtestholder {
    background-image: none;
    height: 500px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 0 none;
    margin: 53px auto 20px auto;
    position: relative;
}


.message {
    border-color: #cecbc0;
    border-style: dashed;
    border-width: 0 0 2px;
    color: #4e4f4f;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 32px;
    margin-top: 15px;
    padding-bottom: 12px;
    padding-left: 100px;
    text-align: left;
    text-transform: uppercase;
    width: 88%;
}

.playagain {
    background-color: #242149;
    background-image: url(./img/play-again-5.png);
    background-position: left 16px center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    border: 0 none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 49px;
    margin: 0 0 15px;
    padding-right: 22px;
    text-align: right;
    text-decoration: none;
    text-transform: none;
    width: 35%;
    margin-bottom:45px;
}


.facebook-div {
    clear: both;
    cursor: pointer;
    float: none;
    font-family: ProximaNova-Bold;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 20px;
    max-width: 100%;
    min-width: 290px;
    text-align: center;
    text-decoration: none;
}

.facebook-div a {
    font-size: 18px;
    font-weight: normal;
    padding-right: 0px;
    text-align: center;
    text-decoration: none;
}


.facebook-share {
    background-color: transparent;
    background-position: center 36px;
    background-repeat: no-repeat;
    background-size: 1px auto;
    border-radius: 0px;
    border-top:3px solid #242149;
    color: #242149;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    list-style-type: none;
    max-width: 100%;
    min-width: 290px;
    padding: 8px 8px 75px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 0 #fff;
    padding-left:40px;
    padding-right:40px;
}


.facebook-share a {
    display: table-cell;
    font-weight: normal;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding-right: 5px;
    font-size: 18px;
}


.prize-div {
    background-color: transparent;
    margin-left: 0%;
    margin-top: 0;
    padding: 0px 0px 0px 0px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 90px;
    min-width: 320px;
    top: -108px;
    float: left;
}

.prize2-div {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #134473;
    cursor: auto;
    float: right;
    font-size: 22px;
    font-weight: normal;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 280px;
    width: 44%;
}

.character-title {
    font-family: AlternateGotNo2D;
    font-size: 53px;
    margin-top: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #242149;
    font-weight: bold;
    margin-bottom: 20px;
}

#newsContainerWide #newsContainer.testeriInstructions {
    clear: both;
    color: #3a8fcd;
    border-radius: 10px;
}

#newsContainerWide #newsContainer.testeriInstructions h1,
#newsContainerWide #newsContainer.testeriInstructions h2,
#newsContainerWide #newsContainer.testeriInstructions p {
    color: #3a8fcd;
}

.yourscore {
    float: left;
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2BC020;
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 20px;
}

.yourbest {
    float: none;
    text-align: center;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b2d52b;
    border-radius: 6px;
    padding: 4px;
    display: table-caption;
}


#colortest {
    background-color: #fff;
    float: left;
    height: 340px;
    left: 0;
    padding: 0;
    position: relative;
    top: 10px;
    width: 340px;
}

#newsContainerWide #newsContainer.testeriInstructions p {
    color: #4e4f4f;
    font-size: 16px;
    font-weight: normal;
    margin: 8px 0;
}


#eyeheader {
    color: #525252;
    font-size: 26px;


    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 0;
    margin-top: 7px;
    text-align: center;
    text-transform: uppercase;
    width: 450px;

}

#testbg {
    background-color: #fff;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    float: right;
    margin-right: 20px;
    padding: 12px 20px 20px 25px;
    width: 490px;
    border-radius: 6px;
    margin-left:50px;
    position:fixed;
}



#timeleft {
    float: right;
    font-size: 45px;
    font-weight: bold;
    height: 50px;
    padding: 22px 14px 16px 14px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}


.clock {
    font-family: ProximaNova-Bold;
    font-size: 45px;
    color: #242149;
    letter-spacing: 0;
    text-align: center;
}


.yourpenalty {
    float: right;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #d92c3b;
    border-radius: 6px;
    padding: 4px;
}

#eyedoctor {
    background-color: #ec1a37;
    height: 75px;
    width: 100%;
}

#bubble {
    color: #525252;
    font-size: 24px;
    left: 22px;
    position: relative;
    text-align: center;
    top: 65px;
    width: 180px;
}

.acs {
    float: left;
    width: 13.66%;
    padding-left: 3%;
    margin-top:-10px;
     margin-bottom:45px;
}

.acx {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#ac1 {
    background-image: url('./img/vn/ac_1.svg');
    transform: translate(0px, 45px);
}

#ac2 {
    background-image: url('./img/vn/ac_2.svg');
    transform: translate(0px, 30px) scale(0.8);
}

#ac3 {
    background-image: url('./img/vn/ac_3.svg');
    transform: translate(0px, 35px) scale(0.8);
}

#ac4 {
    background-image: url('./img/vn/ac_4.svg');
    transform: translate(0px, 27px) scale(0.6);
}


#ac5 {
    background-image: url('./img/vn/ac_5.svg');
    transform: translate(0px, 24px) scale(0.6);
}

#ac6 {
    background-image: url('./img/vn/ac_6.svg');
    transform: translate(0px, 32px) scale(0.7);
}


.acs p {
    font-family: ProximaNova-Bold;
    font-size: 14px;
    color: #242149;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}

#acsbg {
    background-color:#EFF4F8;
    background-repeat: no-repeat;
    background-size: 0 auto;
    border-radius: 20px;
    clear: both;
    color: #3a8fcd;
    font-size: 22px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 1000px;
    padding: 5px 0;
    text-align: center;
    transform:translateY(50px);
}

#acsbg {
    background-image: url("./img/acs_bg.png");
    background-repeat: no-repeat;
    background-size: 0 auto;
    border-radius: 20px;
    clear: both;
    color: #3a8fcd;
    font-size: 22px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 1000px;
    padding: 5px 0;
    text-align: center;
    transform:translateY(50px);
}

.resultbest {
    color: #30d92c;
    font-weight: bold;
    margin-right: 165px;
}

.resultscore {
    color: #63d1f7;
    font-weight: bold;
    margin-right: 30px;
}

.resultpenalty {
    color: #ef3d4e;
    font-weight: bold;
}

.share-button-placeholder {
    color: #2696bc;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 94%;
}




.share-button {
    background-image: url("../img/facebook-share-blank.png");
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "helvetica neue", helvetica, arial, "lucida grande", sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 51px;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-top: 8px;
    position: relative;
    text-align: left;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-transform: none;
    width: 200px;
}

.better-score {
    background-image: url("../img/better-score.png");
    background-repeat: no-repeat;
    color: #544e2f;
    font-size: 12px;
    height: 63px;
    left: -316px;
    padding: 10px 35px 0 15px;
    position: absolute;
    text-align: left;
    top: 259px;
    width: 191px;
}

.levels {
    color: #3a8fcd;
    font-size: 22px;
    font-weight: bold;
    margin: 22px auto;
    max-width: 946px;
    padding: 0 2%;
    text-align: left;
    text-transform: uppercase;
    width: 96%;
}




.arrow {
    margin-left: -80px;
    margin-top: 3px;
    width: 118px;
}

#raf-box h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

fieldset {
    text-align:right;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    padding:0px!important;
}

span#language-button {
   width: 140px!important;
    margin-top: -45px;
}

.ui-state-default {
    border:none!important;
    background:none!important;
}

ul#language-menu  {
    width:100%!important;
    display:inline-grid!important;
}

.ui-selectmenu-button span.ui-icon {
    right: 1.7em!important;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    font-size:18px!important;
    font-family:ProximaNova-Bold!important;
}

.ui-icon-triangle-1-s {
    background-position: -58px -16px!important;
}

.ui-state-focus, .ui-widget-content .ui-state-focus {
    background: #efefef!important;
}

fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    .overflow {
      height: 200px;
    }

@media screen and (min-width:1050px) {
    
    div#graphic2 {
        display:none;
    }
}

@media screen and (max-width: 1050px) {
    
    #barscore2 {
        font-size:40px;
    }
    
    #barerror2 {
        font-size:40px;
    }
    
    #barbest2 {
        font-size:40px;
        margin-top:-60px;
    }
    
    #barbar2 {
        height:65px;
    }
    
    #greenbar2 {
    background-color: #9ec117;
    border-radius: 6px;
    height: 65px;
    position: relative;
    width: 0;
}


#bluebar2 {
    background-color: #242149;
    border-radius: 6px;
    height: 65px;
    left: 0;
    margin-top: -65px;
    position: relative;
    width: 0;
}
    
    .facebook-div img {
        height:100px;
    }
    
    .share-button-placeholder {
        padding-bottom:25px;
    }

    
    .playagain {
        width: 28%;
        font-size: 30px;
        height:95px!important;
        margin-bottom: 35px;
    margin-top: 21px;
    }
    
    #resultdisplay {
    background: none repeat scroll 0 0 #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    /* left: 50px; */
    /* margin: auto; */
    padding: 0px 3% 8px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 70px;
    width: 94%;
    z-index: 2000;
    width: 100%;
    margin-top: 60px;
    /* margin-left: 30px; */
    width: 90%;
    right: -60px;
}
    
    .clock {
        font-size:65px;
    }
    
    #timeleft {
        top:-215px;
    }
    
    #score div {
        transform:translateY(-388px) scale(1.2);
    }
    
    #colortest {
        height:800px;
        width:100%;
    }
    
    #timeleft{
        margin-right:50px;
    }
    
    #colourtext{
        left:80px;
    }
    
    #score {
        margin-right:45px;
    }
    
    #testbg {
    background-color: #fff;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    float: right;
    margin-right: 20px;
    padding: 12px 20px 20px 25px;
    width: 90%;
    left: 25px;
    border-radius: 6px;
    margin-left: 50px;
    position: absolute;
    }
    
    div#graphic2 {
    margin-left: 35px;
    margin-right: 35px;
    margin-top:30px;
    }
    
    div#graphic2 h1{
    font-family: AlternateGotNo2D;
    font-size: 59px;
    color: #242149;
    letter-spacing: 0;
    text-align: right;
    line-height: 59px;
    width: 65%;
    float: right;
    }
    
    div#graphic {
    display:none;
    }
    
    div#info {
        width:100%;
        margin-top:65%;
    }
    
    div#game {
        width:100%;
    }
    
    #eyedoctordiv {
        display: none !important;
    }

    #testbg {
        margin: auto !important;
        float: none !important;
    }

    #speedtestholder {
        width: 100% !important;
    }

    #newsContainerWide #newsContainer.testeriInstructions {
        margin-top: 0 !important;
    }

    .acx {
        height: 137px !important;
    }

    .acs p {
        font-size: 18px !important;
    }

}

@media only screen and (max-width : 970px) {

    .result-left {
        border-right: 0 !important;
        float: none !important;
        width: 100% !important;
        margin-bottom: 22px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .prize2-div {
        float: none;
        width: 100%;
    }

    .prizeText {
        font-size: 16px !important;
        margin-bottom: 27px !important;
    }

    .resultbest {
        margin-right: 10px !important;
    }

    .resultscore {
        margin-right: 10px !important;
    }

    .acx {
        height: 137px !important;
    }

    .acs p {
        font-size: 16px !important;
    }

}

@media only screen and (max-width : 860px) {}

@media only screen and (max-width : 768px) {


    .arrow {
        visibility: hidden !important;
    }


    .message {
        padding-left: 10px !important;
        width: 98% !important;
    }

    #formContainer {
        margin: auto !important;
    }

    .acx {
        height: 100px !important;
    }

    .acs p {
        font-size: 14px !important;
    }
}



@media only screen and (max-width : 730px) {

    .prize-div {
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0px !important;
        width: 100% !important;
        border-left: none !important;
        position: relative !important;
        height: 100px !important;
        top: 0 !important;
        margin-bottom: 10px !important;
    }


    #resultdisplay {
        top: -10px !important;
    }


}

@media only screen and (max-width : 590px) {

    #scorebar {
        display: block !important;
    }

    #barscore {
        float: left !important;
        width: 50% !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        margin-bottom: 4px !important;
        display: block !important;
        font-family:'fira sans';
    }

    #barerror {
        float: right !important;
        text-align: right !important;
        width: 50% !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        display: block !important;
    }

    #newsContainerWide {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #eyeheader h1 {
        font-size: 28px !important;
        margin-bottom: 6px !important;
        width: 180px !important;
    }

    #eyeheader {
        font-size: 14px !important;
        margin-left: 5px !important;
        width: 215px !important;
    }

    #testbg {
        width: 290px !important;
        height: 423px !important;
        box-shadow: none !important;
        padding: 10px 0 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;

    }

    .levels {
        font-size: 16px !important;
        margin: 0px auto !important;
    }

    #score {
        display: none !important;
    }

    #speedtestholder {
        height: 460px !important;
        margin-top: 0 !important;
        background-color: #fff !important;
    }

    #timeleft {
        font-size: 40px !important;
        height: 20px !important;
        margin-top: 0px !important;
        width: 30px !important;
        margin-right: 5px !important;
    }

    .clock {
        margin-left: -12px !important;
        margin-top: -18px !important;
    }

    .yourscore {
        width: 100% !important;
        padding: 4px 0 !important;
        margin-bottom: 10px !important;
    }

    .yourpenalty {
        width: 100% !important;
        padding: 4px 0 !important;
    }

    #colortest {
        height: 290px !important;
        width: 290px !important;

    }

    #newsContainerWide #newsContainer {
        padding: 0 5%;
        font-size: 12px !important;
    }

    #newsContainerWide #newsContainer h2 {
        font-size: 16px !important;
    }

    .facebook-share {
        background-size: 1px !important;
        text-shadow: #fff 1px 0px !important;
        font-size: 14px !important;
    }

    .facebook-share a {
        font-size: 16px !important;
    }



    #formContainer {
        background-image: none !important;
    }

    .nowrap {
        white-space: nowrap !important;
    }

    #formContainer .ffield {
        width: 93% !important;
    }

    #newsContainer img {
        display: none !important;
    }

    #raf-box {
        visibility: hidden !important;
        width: 0 !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .acx {
        height: 70px !important;
    }

    .acs p {
        font-size: 10px !important;
    }

    #acsbg {
        height: 100px !important;
    }


    .menu img {
        width: 50px !important;
    }

    #showmenu img {
        width: 35px !important;
    }

    .menu {
        top: 33px !important;
        width: 80% !important;
    }


    #goo2 {
        visibility: hidden !important;
        height: 1px !important;
    }

    #showmenu {
        top: 2px !important;
        font-size: 14px !important;
    }


    #errorstext {
        height: 1px !important;
        font-size: 1px !important;
        visibility: hidden !important;
    }

    .character-title {
        margin-bottom: 4px !important;
    }
}
@media only screen and (max-width : 360px) {

    .prize-div {
        position: absolute !important;
        height: 50px !important;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: 0px !important;
    }

    .result-left {
        padding-top: 60px !important;
    }

    #resultdisplay {
        top: 0 !important;
    }
}