<events>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-22</date>
		<timebegin>16:30</timebegin>
		<timeend>17:30</timeend>
		<categoryid>2</categoryid>
		<title>Faculty Presentation - Dr. Sandi Towers-Romero</title>
		<description>Please join the Holocaust Memorial Committee' event via YouTube Live for a lecture presented by Dr. Sandi Towers, Professor of Law and First Year Experience, Florida SouthWestern State College titled "Krakow, Poland, and Auschwitz-Birkenau-Yesterday and Today, Seventy Five Years From Liberation."&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/zdUA129Adrk&quot; target=&quot;_blank&quot;&gt;https://youtu.be/zdUA129Adrk&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-23</date>
		<timebegin>11:00</timebegin>
		<timeend>12:00</timeend>
		<categoryid>2</categoryid>
		<title>Survivor Presentation: Renee Beddouk</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live with Renee Beddouk, Holocaust Survivor talk.&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/lVhdlzdUi_Y&quot; target=&quot;_blank&quot;&gt;https://youtu.be/lVhdlzdUi_Y&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-23</date>
		<timebegin>11:30</timebegin>
		<timeend>12:30</timeend>
		<categoryid>2</categoryid>
		<title>Faculty Presentation - Dr. Mark Herman</title>
		<description>Please join the Holocaust Memorial Committee's event for a lecture presented by Dr. Mark Herman, Professor of History, Florida SouthWestern State College titled "Children of the Holocaust."</description>
		<location>J-103, Rush Auditorium</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-23</date>
		<timebegin>12:30</timebegin>
		<timeend>13:30</timeend>
		<categoryid>2</categoryid>
		<title>Survivor Presentation: Carla Benninga</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live with Carla Benninga, Holocaust Survivor talk.&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/TW0XsHD_I9Q&quot; target=&quot;_blank&quot;&gt;https://youtu.be/TW0XsHD_I9Q&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-23</date>
		<timebegin>14:00</timebegin>
		<timeend>15:00</timeend>
		<categoryid>2</categoryid>
		<title>Survivor Presentation: Judit Price</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live with Judit Price, Holocaust Survivor talk.&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/_FzefKsL1Jg&quot; target=&quot;_blank&quot;&gt;https://youtu.be/_FzefKsL1Jg&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-24</date>
		<timebegin>09:30</timebegin>
		<timeend>10:30</timeend>
		<categoryid>2</categoryid>
		<title>Faculty Presentation - Dr. Lauren Madak</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live for a lecture presented by Dr. Lauren Madak, Professor of History, Florida SouthWestern State College titled "Ravensbruck: Liberation of a Women's Concentration Camp."&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/lbH9ZYr3ZgI&quot; target=&quot;_blank&quot;&gt;https://youtu.be/lbH9ZYr3ZgI&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-24</date>
		<timebegin>09:30</timebegin>
		<timeend>10:30</timeend>
		<categoryid>2</categoryid>
		<title>Book Discussion with Dr. Sandi Towers-Romero</title>
		<description>Please join the Holocaust Memorial Committee's and Legal Studies Club of FSW's event via Zoom for a book dicussion on Chapter 1 of &lt;a href=&quot;https://books.google.com/books?id=VqWDVisSTqQC&amp;lpg=PA9&amp;pg=PA13#v=onepage&amp;q&amp;f=false&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;Ladies and Gentlemen of the Jury: Greatest Closing Arguments in Modern Law&lt;/em&gt; titled "Architects of Genocide." Please read this chapter, available on Google Books prior to the discussion.&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;On Zoom: &lt;a href=&quot;https://fsw.zoom.us/j/84243424673?pwd=ZGV3SFJpZ1NIVFE3Z3BJMDBZb2d6UT09&quot; target=&quot;_blank&quot;&gt;https://fsw.zoom.us/j/84243424673?pwd=ZGV3SFJpZ1NIVFE3Z3BJMDBZb2d6UT09&lt;/a&gt;</description>
		<location>online via Zoom</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-24</date>
		<timebegin>18:00</timebegin>
		<timeend>19:00</timeend>
		<categoryid>2</categoryid>
		<title>Guest Lecture - Dr. Paul Barthrop</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live for a lecture presented by Dr. Paul Barthrop titled "Liberation and Reflections by Survivors of the Nazi Concentration Camps."&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/HVChMBWKvYw&quot; target=&quot;_blank&quot;&gt;https://youtu.be/HVChMBWKvYw&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-25</date>
		<timebegin>09:30</timebegin>
		<timeend>10:30</timeend>
		<categoryid>2</categoryid>
		<title>Guest Lecture - Bunthea Keo</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live for a lecture presented by Bunthea "Thea" Keo titled "Comparative Genocide: Cambodia &amp; Darfur."&lt;br/&gt;&lt;br/&gt;Bunthea "Thea" Keo is a Cambodian human rights lawyer who describes his experience as a child refugee and as a human rights officer in Darfur.&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/4SOvEnE35f8&quot; target=&quot;_blank&quot;&gt;https://youtu.be/4SOvEnE35f8&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-25</date>
		<timebegin>11:00</timebegin>
		<timeend>12:00</timeend>
		<categoryid>2</categoryid>
		<title>Faculty Presentation - Dr. Bruno Baltodano</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live for a lecture presented by Dr. Bruno Baltodano Professor of Political Science, Florida SouthWestern State College titled "The Guatemalan Genocide: Denial and the Absence of Liberators."&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/d032tg141B0&quot; target=&quot;_blank&quot;&gt;https://youtu.be/d032tg141B0&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
	<event>
		<displayedsponsor>Dr. Talbot Spivak Holocaust Memorial Week Committee</displayedsponsor>
		<displayedsponsorurl>https://www.fsw.edu/holocaust</displayedsponsorurl>
		<date>2021-03-25</date>
		<timebegin>18:00</timebegin>
		<timeend>19:00</timeend>
		<categoryid>2</categoryid>
		<title>Survivor Presentation: Steen Metz</title>
		<description>Please join the Holocaust Memorial Committee's event via YouTube Live with Steen Metz, Holocaust Survivor talk.&lt;br/&gt;&lt;br/&gt;On YouTube Live: &lt;a href=&quot;https://youtu.be/Aw2AfBc36wo&quot; target=&quot;_blank&quot;&gt;https://youtu.be/Aw2AfBc36wo&lt;/a&gt;</description>
		<location>online via YouTube Live</location>
		<price></price>
		<contact_name>Steven Bianco</contact_name>
		<contact_phone>239-432-6774</contact_phone>
		<contact_email>sbianco@fsw.edu</contact_email>
	</event>
</events>